global:
  scrape_interval: 5s

scrape_configs:
  - job_name: "prometheus"
    static_configs:
      - targets: ["prometheus:9090"]
  - job_name: "mlops-api"
    static_configs:
      - targets: ["mlops-api:5000"]